p {
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.0em;
}

body {
    background-color: lightblue;
    line-height: 1.5;
}

header {
    background-color: whitesmoke;
    padding: 10px;
    border: 2px solid green;
    width: 75%;
    text-align: left;
    font-size: 1.0em;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 2em;
    color: green;
    font-family: 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 1.5em;
    color: green;
    font-family: 'Trebuchet MS', sans-serif;
}

img {
    text-align: center;
}

div {
    margin: 8px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
    width: 75%;
}

.grid-item {
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.box {
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.responsive-box {
    padding: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    width: 75%;
    position: center;
}

@media (max-width: 600px) {
    .responsive-box {
        background-color: lightcoral;
    }
}

@media (min-width: 601px) {
    .responsive-box {
        background-color: lightseagreen;
    }
}

footer {
    font-style: italic;
    text-align: center;
}